.text{
    padding: 20px;
    margin: 20px;
    width: 300px;
    background: aquamarine;
    transition: .50s;
    text-align: center;
    display: none;
  
    

}

text .show{
    display: block;
}


